:root {
    /* Variables globales */
    --title-size: 31px;
    --title-weight: 700;
    --title-color: #242A45;

    --paragraph-size: 1rem;
    --paragraph-weight: 400;
    --paragraph-color: #9194A2;

    --btn-text-size: 15px;
    --btn-primary-bg: #5267DF;
    --btn-secondary-bg: #F7F7F7;
    --btn-radius: 6px;

    --card-bg: #fff;
    --card-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

/* Global Styles */

    body {
        margin: 0;
        font-family: "Poppins", sans-serif;
    }

    .section, .nav-content, .social-content, .modal-menu ul{
        width: 90%;
        margin: 0 auto;
        text-align: center;
    }

    .section{
        margin-top: 3rem;
    }

    .features-content img , .hero img{
        width: 100%;
        height: auto;
        border-radius: 15px;
        position: relative;
    }

    p{
        font-size: var(--paragraph-size);
        font-weight: var(--paragraph-weight);
        color: var(--paragraph-color);
        line-height: 1.9;
    }

    h1, h2{
        font-size: var(--title-size);
        font-weight: var(--title-weight);
        color: var(--title-color);
        margin: 0;
    }

    button:not(.logo-menu button){
        font-size: var(--btn-text-size);
        border: none;
        border-radius: var(--btn-radius);
        padding: 0.8rem 1.5rem;
        cursor: pointer;
    }

    .primary{
        background: var(--btn-primary-bg);
        color: #fff;
    }

    .secondary{
        background: var(--btn-secondary-bg);
        color: var(--title-color);
        box-shadow: 0 5px 10px rgba(82, 103, 223, 0.2);
    }

    ul, summary{
        list-style: none;
        padding: 0;
        margin: 0;
    }

    ul a{
        text-decoration: none;
        color: var(--title-color);
    }

/* menú*/

    .logo-menu{
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-top: 2rem;
    }

    .logo-menu button, .close-modal {
        background: none;
        border: none;
        padding: 0;
        cursor: pointer;
    }

    .modal-menu {
        position: fixed;
        inset: 0;
        display: none;
        background: rgba(36, 42, 69, 0.97);
        padding-top: 2rem;
        z-index: 1;
    }

    .modal-menu-header {
        width: 90%;
        max-width: 350px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 2rem;
    }

    .modal-menu-header figure {
        display: flex;
        align-items: center;
        gap: 1rem;
    }

    .modal-menu-header p {
        color: #fff;
    }

    .modal-menu li {
        border-top: 1px solid rgba(255, 255, 255, 0.15);
        padding: 2rem;
    }

    .modal-menu ul li:last-child {
        padding: 0;
    }

    .modal-menu a {
        color: #fff;
        text-decoration: none;
        font-size: 1.2rem;
    }

    .login-btn {
        width: 100%;
        padding: 1rem 0 !important;
        background: none;
        color: #fff;
        border: 2px solid #fff !important;
        border-radius: 6px;
        font-size: 1.1rem !important;
        font-weight: 500;
        letter-spacing: 2px;
        margin-top: 1.3rem;
    }

    .modal-menu-social {
        width: 20%;
        margin: 0 auto;
        padding-top: 13rem;
    }

    .modal-menu-social a{
        margin-right: 1rem;
    }
        

/* hero content*/

    .hero h1{
        line-height: 1.9;
    } 
    
    .hero > figure::after {
        content: "";
        position: absolute;
        top: 24%;
        right: 0%;
        width: clamp(200px, 73vw, 400px);
        height: clamp(140px, 39vw, 280px);
        background-color: #5267DF;
        border-bottom-left-radius: 85px 82px;
        z-index: -1;
    }
    
/* Features content */ 

    .features-content li {
        border-top: 1px solid #e0e0e0;
        padding: 1rem;
        position: relative;
    }

    .features-content li:last-child {
       border-bottom: 1px solid #e0e0e0;
    }

    .features-content a{
       color: #555;
       font-weight: 500;
    }

    .features-content .active {
        color: #111;
        font-weight: 600;
    }

    a.active::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 50%;
        height: 3px;
        background-color: #f25f3a; 
        border-radius: 2px;
    }

    .tab-panel, .tab-panel div{
        margin-top: 5rem;
    }

    .tab-panel > figure::after {
        content: "";
        position: absolute;
        top: 144%;
        left: 0%;
        width: clamp(200px, 75vw, 400px);
        height: clamp(140px, 47vw, 280px);
        background-color: #5267DF;
        border-bottom-right-radius: 85px 82px;
        z-index: -1;
    }


/* download section*/

    .download-content .card {
        background: var(--card-bg);
        box-shadow: var(--card-shadow);
        padding: 2rem;
        margin: 0 auto 2rem;
        max-width: 300px;
    }

/* question content */

    .question-content details {
        border-bottom: 1px solid #e0e0e0;
        padding: 1rem 0;
    }

    .question-content summary {
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-weight: 500;
        font-size: 0.9rem;
        color: #242a45;
    }

    .question-content summary::after {
        content: "";
        display: inline-block;
        width: 1rem;
        height: 1rem;
        background: url("../../starter-code/images/icon-arrow.svg") no-repeat center;
        background-size: contain;
        transition: transform 0.3s ease;
    }

    .question-content details[open] summary::after {
        transform: rotate(180deg);
    }

    .content-faq{
        margin-bottom: 3rem;
    }

/* --- Form Section --- */

    .form-question {
        background-color: #5267df;
        padding: 3rem 1.5rem;
        color: #fff;
        max-width: 379px;
        /*margin-top: 10rem;*/
    }

    .form-question span {
        display: block;
        font-size: 0.90rem;
        font-weight: 600;
        letter-spacing: 2px;
        margin-bottom: 1rem;
        color: #ffffffcc;
    }

    .form-question h2 {
        font-size: 1.6rem;
        font-weight: 600;
        margin-bottom: 2rem;
        line-height: 1.4;
        color: #fff;
    }

    .form-question form {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .form-question input[type="email"] {
        width: 85%;
        padding: 0.75rem 1rem;
        border: none;
        border-radius: 0.5rem;
        font-size: 1rem;
    }

    input::placeholder {
        color: #cccccc;
        opacity: 1;
    }

    .form-question button {
        width: 93%;
        padding: 0.75rem 1rem;
        background-color: #fa5959;
        color: #fff;
        border: none;
        border-radius: 0.5rem;
        font-weight: 500;
        font-size: 1rem;
        cursor: pointer;
    }

/* Footer */

    footer {
        background: #242846;
        padding: 40px 0;
    }

    .nav-content li {
        margin-bottom: 2rem;
    }

    .nav-content a {
        color: #c3c7e6;
        font-size: 0.9rem;
    }

    .nav-content figure{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
        color: #fff;
    }

    .nav-content nav{
        margin-top: 3rem;
        margin-bottom: 5rem;
    }

    .social-content figure{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 3rem;
    }

/* Media Queries */

    @media (min-width: 1024px) { 

        .section{
            width: 100%;
            text-align: left;
        }
        /* Header */
            .modal-menu {
                position: static;
                inset: auto;
                display:block;
                background: transparent;
            }

            .modal-menu-header, .modal-menu-social, #menu-mobile {
                display: none;
            }

            .modal-menu li {
                border: none;
                padding: 0;
            }

            .modal-menu a {
                color: #242a45;
                font-weight: 500;
                font-size: 0.95rem;
                letter-spacing: 0.05em;
            }

            .login-btn {
                background-color: #fa5959; 
                font-weight: 500;
                font-size: 0.9rem !important;
                letter-spacing: 0.05em;
                padding: 0.7rem 1.8rem !important;
                border-radius: 6px !important;
                box-shadow: 0 4px 8px rgba(250, 89, 89, 0.25);
                border: none !important;
                margin-top: 0;
            }

            .modal-menu ul{
                display: flex;
                align-items: center;
                gap: 3rem;
                margin: 0;
            }

            header{
                display: flex;
                justify-content: space-around;
            }
        
            /* Hero Section */

                .hero{
                    display: flex;
                    flex-direction: row-reverse;
                }

                .hero-content {
                    width: 50%;
                }

                .hero figure {
                    width: 50%;
                    
                }
                /*.hero-content h1 {
                    font-size: 2.5rem;
                    line-height: 1.2;
                    margin-bottom: 1.5rem;
                }*/
                /*.hero-content p {
                    max-width: 44ch; 
                    line-height: 1.6;
                    margin-bottom: 2rem;
                }*/
                
                .hero > figure::after {
                   
                }

                .hero figure img {
                    width: 80%;
                    margin: 0;
                }

               

    }





    