:root{
    --title-size: 1.7rem;
    --title-weight: 700;
    --title-color: #242A45;
    --paragraph-size: 1.2rem;
    --paragraph-weight: 400;
    --paragraph-color: #9194A2;
    --btn-text-size: 15px;
    --color-primary: #5267df;
    --color-secondary: #f7f7f7;
    --color-text: #242a45;
    --color-text-light: #9194a1;
    --font-family-base: 'Rubik', sans-serif;
    --spacing-section: 4rem;
    --btn-radius: 6px;
    --card-bg: #fff;
    --card-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}
