@use 'variables';

@mixin flex-container($justify, $align, $direction: row) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
}

@mixin button($background, $color) {
  background-color: $background;
  color: $color;
  border: none;
  border-radius: 0.5rem;
  padding: 1rem 1.5rem;
  font-weight: 500;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

@mixin card(){
    background: variables.$card-bg;
    box-shadow: variables.$card-shadow;
    margin: 0 auto;
    max-width: 290px;
    width: 90%;
    margin-bottom: 3rem;
}

@mixin button-reset(){
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

@mixin respond($breakpoint) {
    @if $breakpoint == tablet {
      @media (min-width: variables.$bp-tablet) { @content; }
    } @else if $breakpoint == desktop {
      @media (min-width: variables.$bp-desktop) { @content; }
    } @else if $breakpoint == large {
      @media (min-width: variables.$bp-large) { @content; }
    }
}
